---
---

@charset "utf-8";

@import "reset";
@import "main";

.post-data {
    display:flex;
    justify-content: space-between;
}

.post-title .post-date {
    display: flex;
}

.post-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: $infoColor;
}
