{% if page.issue_id %}
<a href="https://github.com/afterdesign/afterdesign.net/issues/{{ page.issue_id }}" target="_blank">Want to send a hint ? Ask a question ? Go to github issue created for this post.</a>
{% endif %}
<a href="{{ "/cookies.html" | prepend: site.baseurl | prepend: site.url }}">cookie policy</a>
<a href="http://malinowski.be" target="_blank">contact me, check out my social links</a>
<a href="http://getpocket.com/@afterdesign" target="_blank">check what I'm reading on my Pocket profile</a>
