<div>
    {% if page.issue_id %}
        <a href="https://github.com/afterdesign/afterdesign.net/issues/{{ page.issue_id }}" target="_blank">Want to send a hint ? Ask a question ? Go to github issue created for this post.</a>
    {% endif %}
    <a href="{{ "/cookies.html" | prepend: site.baseurl | prepend: site.url }}">Cookie policy.</a>
    <a href="http://malinowski.be" target="_blank">Contact me, check out my social stuff.</a>
    <a href="http://getpocket.com/@afterdesign" target="_blank">Check what I'm reading and sharing on my Pocket profile</a>
    <!-- <a href="http://malinowski.be" target="_blank">Recommended books</a> -->
</div>
