<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="after.thoughts - after.design blog">
<meta property="og:image" content="{{ "/images/aftermac.jpg" | prepend: site.baseurl | prepend: site.url}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@afterdesign">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:image" content="{{ "/images/aftermac.jpg" | prepend: site.baseurl | prepend: site.url}}">
