@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
    display: grid;
    background: var(--main-background);
    grid-template-columns: var(--margins-width) auto var(--margins-width);
    grid-template-rows: auto auto;

    font-family: 'Georgia';
}

time {
    font-size: 1em;
    line-height: 1.8em;
    font-family: 'Share Tech Mono';
    background-color: var(--links-bg-color);
    color: var(--links-font-color);

    padding: 5px 0px;
    box-shadow: 0.5rem 0 0 var(--links-bg-color), -0.5rem 0 0 var(--links-bg-color);
    display: inline;
}

.post_title {
    font-size: 1.4em;
    line-height: 1.4em;
    background-color: var(--links-bg-color);
    color: var(--links-font-color);
    text-decoration: none;

    display: inline;
    padding: 5px 0;
    box-shadow: 0.5rem 0 0 var(--links-bg-color), -0.5rem 0 0 var(--links-bg-color);
    box-decoration-break: clone;
}

section {
    grid-column-start: 2;
    grid-column-end: 3;
}

section > article {
    padding-top:10px;
}

section > article > div {
    line-height: 1.4;
}

section > article > div > p {
    margin-bottom: 1.5rem;
}

p {
    padding: 0.5rem 0;
    font-size: 1.2em;
    line-height: 1.2;
}

a {
    font-size: 1.1em;

    background-color: var(--links-bg-color);
    color: var(--links-font-color);
    text-decoration: none;
    padding: 0 0.5rem;
}

@keyframes pulse {
    0%, 100% {
    color: var(--links-font-color);
    }
    50% {
    color: var(--links-bg-color);
    }
}

a:after {
    content: '_';
}

a:hover::after {
    animation: pulse 0.5s linear infinite alternate;
}

h1 {
    font-weight: bold;
    font-size: 1.8em;
}

h5 {
    font-size: 1.4em;
}

img {
    max-width: calc(100vw - var(--margins-width) * 2);
}
